<ion-view view-title="" content scroll="false">
	<ion-nav-title style="left: 0% !important;" align-title="center">
    	<i class="fa fa-plane icon-span" aria-hidden="true"></i> <B>Zhak Travel</B>
    </ion-nav-title>
	<ion-content class="has-footer background" content scroll="false"> 
		<div class="center">
			<h2 class="welcome-text">Welcome *user</h2>
		</div>
		<div class="photo-text">Shanghai, China</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-assertive">
		<h1 class="title">Start a new trip!</h1>
	</ion-footer-bar>
</ion-view>
