<ion-view view-title="" content scroll="false">
	<ion-nav-title style="left: 0% !important;" align-title="center">
    	<i class="fa fa-plane icon-span" aria-hidden="true"></i> <B>Zhak Travel</B>
    </ion-nav-title>
	<ion-content class="has-footer" content scroll="false"> 
		<ul class="cb-slideshow">
            <li><span></span><div class="photo-text">Dubai</div></li>
            <li><span></span><div class="photo-text">New York</div></li>
            <li><span></span><div class="photo-text">Seoul, Korea</div></li>
            <li><span></span><div class="photo-text">Santorini, Greece</div></li>
            <li><span></span><div class="photo-text">Maldives</div></li>
            <li><span></span><div class="photo-text">India</div></li>
        </ul>
		<div class="container">
			<h2 class="welcome-text" style="padding-top: 60px;">Welcome, barney!</h2>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-assertive">
		<a href="#/app/survey-weather" class="title">Start a new trip!</a>
	</ion-footer-bar>
</ion-view>
