<ion-view view-title="Your Itinerary">
  <ion-content content scroll="false" style="background-color: #546e7a !important;">
      <div class="card blue-grey darken-1" style="box-shadow: 0 !important">
        <div class="card-content white-text">
          <span class="card-title">Your Itinerary</span>
          <p>This is your itinerary page. Tick the activities that you've completed as you go along your trip.</p>
        </div>
        <div class="card-action">
          <a href="" ng-click="showme1=true"><b>Auski</b></a>
          <i style="color: #2ecc71;" ng-show="showme1" class="fa fa-check-square" aria-hidden="true"></i>
        </div>
        <div class="card-action">
          <a href="" ng-click="showme2=true"><b>Wayne Ritche's Skiers Edge</b></a>
          <i style="color: #2ecc71;" ng-show="showme2" class="fa fa-check-square" aria-hidden="true"></i>
        </div>
	<ion-footer-bar align-title="center" class="bar-assertive">
		<a href="#/app/home" class="title" ng-click="reset()">Trip completed!</a>
	</ion-footer-bar>
      
  </ion-content>
</ion-view>
