/* Empty. Add your own CSS if you like */
.icon-span {
	padding-right: 10px; 
	padding-left: 10px;
}

.menu-text {
	font-weight: 700;
}

.menu-list {
}

.menu-header {
	text-align: center;
}

.tags {
	color: blue !important;
}

.background {
	background: url('../img/china-sh.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body {
	font-family: 'Open Sans', sans-serif !important;
}

.welcome-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10;
    display: block;
    color: #ffffff;
    filter: none !important;
    font-family: 'Open Sans', sans-serif;
}

.photo-text {
	font-size: 5em;
}

.container{
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.container > header{
    padding: 30px 30px 10px 20px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{

}
.container > header h2, p.info{
    font-size: 16px;
    font-style: italic;
    color: #f8f8f8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.left-pane {
    float: left;
    width: 25%;
}

.right-pane {
    float: left;
    width: 75%;
}

.main-pane {
    width: 100%;
}

.card {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12) !important;
}