<ion-view view-title="what would you do">
  <ion-content style="padding: 30px;" content scroll="false">
	<ul class="cb-slideshow">
        <li><span></span><div class="photo-text">Dubai</div></li>
        <li><span></span><div class="photo-text">New York</div></li>
        <li><span></span><div class="photo-text">Seoul, Korea</div></li>
        <li><span></span><div class="photo-text">Santorini, Greece</div></li>
        <li><span></span><div class="photo-text">Maldives</div></li>
        <li><span></span><div class="photo-text">India</div></li>
    </ul>

    <!-- QUESTION 1 -->
    <div id="q1">
		<button class="list card animated" style="width: 100%;" ng-click="done(['SHOPPING','HISTORIC','BEACH','NATIONAL-PARKS','THEME-PARK'])">
			<div class="item item-body" style="padding-left: 16px !important; height: 200px;" content scroll="false"> 
				<h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 2em; font-style: normal;font-variant: normal; font-weight: 500;">Like a little surprise?</h2>
			</div>
		</button>
		<button class="list card animated" style="width: 100%;" ng-click="done(['ROMANTIC','GAMBLING','MOUNTAINS','OUTDOORS','SKIING'])">
			<div class="item item-body" style="padding-left: 16px !important; height: 200px;">
				<h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 2em; font-style: normal;font-variant: normal; font-weight: 500;">All planned out</h2>
			</div>
		</button>
	</div>


  </ion-content>
	<!--<div class="bar bar-footer bar-balanced">
	  <div class="title">
	  	<p>Your preferences will appear here.</p>
	  </div>
	</div>-->
	<!-- to do preferences show tab-->
</ion-view>
